@media screen and (width<=1200px) {
  .adminContainer {
    overflow: auto;
  }

  .dashboard {
    > section {
      justify-content: center;
      padding: 2rem;
      flex-wrap: wrap;
    }
    .revenue_inventory_section,
    .pie-table {
      justify-content: center;
      flex-wrap: wrap;
    }

    .pie-table {
      height: unset;
    }
  }

  .product_managment {
    padding: 2rem;
  }
}

@media screen and (width<=1100px) {
  .adminContainer {
    grid-template-columns: 1fr !important;
    padding: 1rem;
    // position: relative;

    // > aside {
    //   display: none;
    // }
  }
}

@media screen and (width<=600px) {
  .add_new_product {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    > section {
      max-width: 400px;
      width: 100%;
    }
    > article {
      max-width: 400px !important;
      width: 100%;
    }
  }
  .chartCOntainer {
    padding: 0;
    > h1 {
      margin: 0;
      text-align: center;
    }
    > section {
      margin: 3rem 2rem;
      .bar_chart,
      .pie_doughnut_chart {
        width: 100%;
      }
    }
  }

  .dashboardAppContainer > section {
    .coupon_form {
      display: flex;
      flex-direction: column;
    }
  }
}
